
eFormAPI/eFormAPI\.Web/

eFormAPI/Plugins/MachineArea\.Pn/\.vs/

eFormAPI/Plugins/MachineArea\.Pn/MachineArea\.Pn/obj/

eFormAPI/Plugins/MachineArea\.Pn/\.idea/

eFormAPI/Plugins/MachineArea\.Pn/MachineArea\.Pn\.sln\.DotSettings\.user

eform-client/\.idea/
eFormAPI/Plugins/MachineArea.Pn/MachineArea.Pn.Test/bin
eFormAPI/Plugins/MachineArea.Pn/MachineArea.Pn.Test/obj

\.idea/eform-angular-machinearea-plugin\.iml

\.idea/encodings\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml
