
eFormAPI/eFormAPI\.Web/

eFormAPI/Plugins/OuterInnerResource\.Pn/\.vs/

eFormAPI/Plugins/OuterInnerResource\.Pn/OuterInnerResource\.Pn/obj/

eFormAPI/Plugins/OuterInnerResource\.Pn/\.idea/

eFormAPI/Plugins/OuterInnerResource\.Pn/OuterInnerResource\.Pn\.sln\.DotSettings\.user

eform-client/\.idea/
eFormAPI/Plugins/OuterInnerResource.Pn/OuterInnerResource.Pn.Test/bin
eFormAPI/Plugins/OuterInnerResource.Pn/OuterInnerResource.Pn.Test/obj

\.idea/eform-angular-outer-inner-resource-plugin\.iml

\.idea/encodings\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml
.idea

*.cache
*.props
*.targets

